terraform {
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 6.4.0"
    }
    random = {
      source  = "hashicorp/random"
      version = "~> 3.5.1"
    }
  }

  backend "s3" {
    bucket = "<your-bucket-for-terraform-state>"
    key    = "<your-key-for-terraform-state>"
    region = "<your-aws-region-for-backend>"   # ex: "ap-southeast-1"
  }
}

# Configure the AWS Provider
provider "aws" {
  profile = "<your-aws-profile>" # ex: "default"
  region  = var.primary_region
}
